:root {
  --body-bg: #aaaaaa;
  --border-color: #1c1c84;
  --box-occupied-bg: #000042;
  --ship-border-color: #000035;
  --box-hit-bg: #8b000b;
  --box-miss-bg: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  font-size: 16px;
}

header {
  padding: 0;
  margin: 0 0 32px 0;
  background-color: var(--border-color);
}

footer {
  padding: 16px;
  text-align: center;
  margin: 24px 0 0 0;
  background-color: var(--border-color);
}

h1 {
  margin: 0;
  padding: 24px 16px;
  text-align: center;
}

h2 {
  margin-bottom: 24px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.top-section {
  margin-bottom: 16px;
  text-align: center;
}

button {
  outline: none;
  border: none;
  padding: 16px 8px;
  background-color: var(--border-color);
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 8px;
  min-width: 100px;
  cursor: pointer;
}

/* Game start*/

.main-content:has(form) {
  width: fit-content;
}

form {
  text-align: center;
}

/* Form Fields */
.form-field,
.radio-field {
  margin-bottom: 16px;
}
.radio-field {
  position: relative;
}
.radio-field label {
  padding-left: 25px;
  pointer-events: none;
}
.radio-field input {
  position: absolute;
  left: -5px;
  top: -3px;
  width: 17px;
  height: 17px;
  opacity: 0;
  cursor: pointer;
}
.radio-field:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.radio-field:has(input:checked):before {
  background-color: var(--box-occupied-bg);
}
.radio-field:has(input:checked):after {
  position: absolute;
  content: "";
  background-color: var(--box-occupied-bg);
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  pointer-events: none;
}
input {
  appearance: none;
  padding: 8px;
  border: 1px solid var(--border-color);
  outline: none;
}
input:focus,
.checkbox-field:has(input:focus):before {
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 0 0 2px 2px var(--border-color);
  -moz-box-shadow: 0 0 2px 2px var(--border-color);
  box-shadow: 0 0 2px 2px var(--border-color);
}

/*Game main*/

.boards {
  display: flex;
  justify-content: space-between;
}

.grid-outer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.column-titles {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.row-titles {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 8px;
}

.ships {
  grid-area: 2/3/3/4;
}

.grid {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  border: 1px solid var(--border-color);
}

.grid-header,
.grid-box {
  aspect-ratio: 1/1;
}

.ship {
  justify-self: start;
  display: flex;
  margin: 0 0 8px 8px;
  border: 1px solid var(--ship-border-color);
}

.ship-box {
  width: 20px;
  height: 20px;
  border: 1px solid var(--ship-border-color);
}

.grid-box {
  border: 1px solid var(--border-color);
}

.occupied,
.ship-box {
  background-color: var(--box-occupied-bg);
}

.hit {
  background-color: var(--box-hit-bg);
}

.hit .ship-box {
  background-color: var(--box-hit-bg);
}

.miss {
  background-color: var(--box-miss-bg);
}
